.main-logo-img, .main-logo-container {
  max-height: inherit !important;
}

.navbar-brand.logo {
  max-height: 2rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

h2.banner-philosophy, h1.banner-philosophy, .banner-philosophy {
  font-size: 2.5em !important;
  font-weight: 900 !important;
  font-family: 'Montserrat', sans-serif;
  /*min-height: 6em;*/
}

li.nav-item a.nav-link, li.nav-item a.nav-link.active {
  color: #00b3ff;
  text-align: center !important;
  font-weight: bold !important;
  font-size: .8rem !important;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease;
}

.intro-text {
  font-size: 1.2em !important;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: #333 !important;
}

.intro-author {
  font-size: 1.5em !important;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #08252a;
}

h2.about-title {
  font-size: 3em !important;
  font-weight: 900 !important;
  font-family: 'Montserrat', sans-serif;
}

.nice-styling {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

.main-color {
  color: #00b3ff !important;
}

.card-body.rounded-5 {
  border: solid rgba(0,179,255,0.6) 1px;
  box-shadow: 5px 5px 20px #00b3ff !important;
}

